@import url(https://fonts.googleapis.com/css?family=Gravitas+One);

html, body {
	height: 100%;
}
body {
	font-family: 'Times New Roman', sans-serif;
	margin: 0;
	text-align: center;
	color: #253A54;
	background-image: url(../img/1.png);
}
.container-fluid {
	margin: 0 auto
}

/****************** header ***********************/
header {
	box-shadow: 0 1px 7px #aaaaaa;
	/*-webkit-box-shadow: 0 1px 7px #aaaaaa;*/
	height: 40px;
	margin-bottom: 30px;
	color: inherit;
	background: #fff;
}
#top_menu {
	height: 40px;
	color: inherit;
	background-color: inherit;
	padding: 10px 30px;
}
h4 {
	font-family: 'Gravitas One', cursive;
	font-size: 20px;
	background-color: inherit;
	color: #888888;
	overflow: hidden;
	float: left;
}
h4:hover {
	color: #CC9F4D;
	transition: all .3s ease-in-out;
}
.menu_item {
	float: left;
	width: 60px;
	margin-right: 10px;
}
.menu_item:last-child {
	border-left: 1px solid #aaa;
	padding-left: 15px;
	margin-right: 20px;
}
.menu_item > a {
	color: #888888;
	background-color: inherit;
	text-decoration: none;
	border-bottom: none;
}
a:hover {
	color: #CC9F4D;
	transition: all .3s ease-in-out;
}
/********************   left_container  ******************/
#set_list {
	width: 200px;
	border: 1px solid #888888;
	margin-left: 20px;
	border-radius: 5px 5px;
	box-shadow: 2px 2px 1px #888;
	font-weight: bold;
}
#set_list > li {
	color: #888888;
	background: #fff;
	transition: all .3s ease-in-out;
}
#set_list > li:hover {
	color: #CC9F4D;
}

#set_list > li:first-child {
	background-color: #253A54;
	color: #fff;
	border-top: none;border-right: none;border-left: none;
	border-bottom: 1px solid #888888;
	height: 30px;
	margin: 0 auto;
	padding-top: 6px;
}
#set_list > li:first-child:hover {
	text-decoration: none;
	cursor: default;
	opacity: 1;
	border-bottom: 1px solid #888888;
}
#set_list > li > input {
	position: relative;
	right: 20px;
	float: right;
	/*margin-right: 20px;*/
}

/********************   main_container  ******************/
#card_title {
	font-size: 20px;
	margin: 0 auto 15px auto;
}
#card_number {
	font-weight: bold;
	letter-spacing: 1px;
}
.progressBar {
	float: left;
	margin: 0 66% 0 34%;
	height: 20px;
}
.progressBarFrame {
	overflow: hidden;
	width: 	150px;
	height: 10px;
	background: rgba(8,102,220,.3);
	border-radius: 5px;
}
.progressBarValue {
	height: 1.6em;
	background: #0866dc;
}
#checkmark {
	margin: 0 10% 0 90%;
	height: 20px;
	width: 30px;
}

#card {
	box-shadow: 1px 1px 3px #888888;
	letter-spacing: 1px;
	margin: 20px auto 10px auto;
	width: 474px;
	height: 150px;
	cursor: pointer;
	font-size: 25px;
	line-height: 140px;
	perspective: 100px;
	transform-style: preserve-3d;
	transition: .3s;
	/*-webkit-transition:-webkit-transform .3s;*/
}
#card-front, #card-back {
	box-shadow: 1px 4px 3px #888888;
	display: block;
	width: 100%;
	height: 100%;
	border-radius: 5px;
	position: absolute;
	backface-visibility: hidden;
	/*-webkit-backface-visibility: hidden;*/
}
#card-front {
	color: #555;
	background: #fff;
}
#card-back {
	color: #fff;
	background-color: #253A54;
	transform: rotateY(180deg);
}
.open {
	transform: rotateY(180deg);
}

#btn_group {
	height:60px;
	width: 260px;
	margin: 30px auto 0 auto;
	border-radius: 5px;
	color: inherit;
	cursor: pointer;
	font-size: 0;
}
div.card_button {
	float: left;
	color: white;
	font-size: 13px;
	height: 40px;
	margin: 0;
	background: #0866dc;
	padding: 12px 10px 0 10px;
	box-shadow: 1px 2px 2px #888888;
}
div.card_button:active {
	box-shadow: 0 1px 1px #888888;
	text-decoration: none;
}
div#btn_back {
	border-radius: 5px 0 0 5px;
	border-right: 1px solid rgb(228, 214, 169);
	width: 80px;

}
#btn_role {
	border-right: 1px solid rgb(228, 214, 169);
	width: 100px;
}
#btn_next {
	border-radius: 0 5px 5px 0;
	width: 80px;
}


/********************   as_container  ******************/

#ad_container {
	color: #888888;
	background-color: inherit;
	height: 300px;
	text-align: center;
	padding: 0;
}
#ad_container img {
	margin: 5px auto;
}
/********************   footer  ******************/

footer {
	height: 40px;
	font-size: 13px;
	line-height: 36px;
	margin-top: 20px;
	color: inherit;
	background: #fff;
	box-shadow: 0 -1px 1px #aaaaaa;
	/*-webkit-box-shadow: 0 1px 1px #aaaaaa;*/
}
#copyright {
	color: #888888;
	background-color: inherit;
}

/* progressBar表示用クラス */
.value-00{width:0%;}.value-01{width:1%;}.value-02{width:2%;}.value-03{width:3%;}.value-04{width:4%;}.value-05{width:5%;}.value-06{width:6%;}.value-07{width:7%;}.value-08{width:8%;}.value-09{width:9%;}.value-10{width:10%;}.value-11{width:11%;}.value-12{width:12%;}.value-13{width:13%;}.value-14{width:14%;}.value-15{width:15%;}.value-16{width:16%;}.value-17{width:17%;}.value-18{width:18%;}.value-19{width:19%;}.value-20{width:20%;}.value-21{width:21%;}.value-22{width:22%;}.value-23{width:23%;}.value-24{width:24%;}.value-25{width:25%;}.value-26{width:26%;}.value-27{width:27%;}.value-28{width:28%;}.value-29{width:29%;}.value-30{width:30%;}.value-31{width:31%;}.value-32{width:32%;}.value-33{width:33%;}.value-34{width:34%;}.value-35{width:35%;}.value-36{width:36%;}.value-37{width:37%;}.value-38{width:38%;}.value-39{width:39%;}.value-40{width:40%;}.value-41{width:41%;}.value-42{width:42%;}.value-43{width:43%;}.value-44{width:44%;}.value-45{width:45%;}.value-46{width:46%;}.value-47{width:47%;}.value-48{width:48%;}.value-49{width:49%;}.value-50{width:50%;}.value-51{width:51%;}.value-52{width:52%;}.value-53{width:53%;}.value-54{width:54%;}.value-55{width:55%;}.value-56{width:56%;}.value-57{width:57%;}.value-58{width:58%;}.value-59{width:59%;}.value-60{width:60%;}.value-61{width:61%;}.value-62{width:62%;}.value-63{width:63%;}.value-64{width:64%;}.value-65{width:65%;}.value-66{width:66%;}.value-67{width:67%;}.value-68{width:68%;}.value-69{width:69%;}.value-70{width:70%;}.value-71{width:71%;}.value-72{width:72%;}.value-73{width:73%;}.value-74{width:74%;}.value-75{width:75%;}.value-76{width:76%;}.value-77{width:77%;}.value-78{width:78%;}.value-79{width:79%;}.value-80{width:80%;}.value-81{width:81%;}.value-82{width:82%;}.value-83{width:83%;}.value-84{width:84%;}.value-85{width:85%;}.value-86{width:86%;}.value-87{width:87%;}.value-88{width:88%;}.value-89{width:89%;}.value-90{width:90%;}.value-91{width:91%;}.value-92{width:92%;}.value-93{width:93%;}.value-94{width:94%;}.value-95{width:95%;}.value-96{width:96%;}.value-97{width:97%;}.value-98{width:98%;}.value-99{width:99%;}.value-100 {width:100%;}
